# base
PyYAML
Pygments
SecretStorage
configobj
httplib2
jsonpatch
pycrypto
pycurl
pykafka
requests
simplejson
ssh-import-id
urllib3
zope.interface

# aws
awscli>=1.16.147,<2.0.0
boto3>=1.9.137,<2.0.0

# robot
robotframework==3.1.1
robotframework-excellibrary==0.0.2
robotframework-requests==0.5.0
robotframework-ride==1.5.2.1
robotframework-selenium2library==3.0.0
robotframework-seleniumlibrary==3.3.1
robotframework-sshlibrary==3.3.0
selenium==3.141.0
