Pygments
SecretStorage
boto3>=1.7.12
configobj
httplib2
jsonpatch
pycrypto
pycurl>=7.43.0.1
pykafka==2.7.0
requests>=2.18.4
robotframework==3.0.4
robotframework-excellibrary==0.0.2
robotframework-requests==0.4.7
robotframework-ride==1.5.2.1
robotframework-selenium2library==3.0.0
robotframework-seleniumlibrary==3.1.1
robotframework-sshlibrary==3.0.0
selenium==3.11.0
simplejson
ssh-import-id
urllib3>=1.22
zope.interface

# AWS CLI
awscli>=1.15.12
