Pygments
SecretStorage
boto3
configobj
httplib2
jsonpatch
pycrypto
pycurl
pykafka
robotframework
robotframework-excellibrary
robotframework-requests
robotframework-ride
robotframework-selenium2library
robotframework-sshlibrary
selenium
simplejson
ssh-import-id
urllib3
zope.interface

# AWS CLI
awscli>=1.12.0
